node_modules/
.env
.env.test
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
coverage/lcov-report/app/models/index.html
coverage/lcov-report/app/models/index.js.html
coverage/lcov-report/app/models/User.js.html
coverage/lcov-report/config/database.js.html
coverage/lcov-report/config/index.html
coverage/lcov-report/src/app.js.html
coverage/lcov-report/src/index.html
coverage/lcov-report/src/routes.js.html
coverage/lcov-report/src/app/models/index.html
coverage/lcov-report/src/app/models/index.js.html
coverage/lcov-report/src/app/models/User.js.html
coverage/lcov-report/src/config/database.js.html
coverage/lcov-report/src/config/index.html
yarn.lock
coverage/lcov-report/src/app/controllers/index.html
coverage/lcov-report/src/app/controllers/SessionController.js.html
coverage/lcov-report/tests/factories.js.html
coverage/lcov-report/tests/index.html
coverage/lcov-report/tests/utils/index.html
coverage/lcov-report/tests/utils/truncate.js.html
package-lock.json
tests/database.sqlite
yarn.lock
